{% load static %}
<div class="d-flex mt-4"> 
    
    <div class="bg-light p-2"> 
        <img src="{{comment.user.profile.image.url}}" class="navbar-logo mr-2"> 
    </div>
   
    <div class="bg-gray border border-dark rounded-3 w-100 p-3">    

        <div class="d-flex justify-content-start">  
            <small><strong>{{comment.user.first_name}} {{comment.user.last_name}}</strong></small>  
            <small class="mx-3 fst-italic">{{comment.created}}</small> 
        </div> 

        <p class="text-break mb-3 mt-3">{{comment.comment}}</p> 

        <div class="d-flex justify-content-start">  
            {% if request.user == comment.user %}   
            <a href="#" class="link-secondary"  
                data-bs-toggle="collapse" 
                data-bs-target="#commentEdit_{{comment.id}}" 
                aria-expanded="false" 
                aria-controls="collapsecommentEdit"><i class="fas fa-edit mx-2"></i></a>   
            <form method="POST" action="{% url 'comment-delete' post.pk comment.pk %}">
                {% csrf_token %}  
                <button type="submit" class="link-secondary btn btn-transparent m-0 p-0"><i class="fas fa-trash"></i></button> 
            </form>  
            {% endif %}   
            {% if user.is_authenticated %}  
            <a href="#" class="link-secondary"
                data-bs-toggle="collapse" 
                data-bs-target="#commentReply_{{comment.id}}" 
                aria-expanded="false" 
                aria-controls="collapsecommentreply"
                ><i class="fa fa-reply fa-1x mx-1"></i>Responder</a> 
            {% endif %}   
        </div>  
    </div>   
     
</div> 


<!-- Editar Comentario  -->
<div class="collapse mt-2 w-100" id="commentEdit_{{comment.id}}"> 
	<form method="POST" action="{% url 'comment-edit' post.pk comment.pk %}"> 
		{% csrf_token %}
		<textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Escreva um comentário...">{{comment.comment}}</textarea>  
        <div class="d-flex justify-content-between align-items-center py-2">  
			<button type="submit" class="btn btn-dark">Enviar</button>    
			<button class="btn-default btn-white-sm" type="button" data-bs-toggle="collapse" 
				data-bs-target="#commentEdit_{{comment.id}}" aria-expanded="false" aria-controls="collapsecommentEdit">
				<i class="fas fa-times fa-1x"></i>
			</button>  
		</div>  
	</form> 
</div> 

<!-- Responder Comentario -->
<div class="collapse mt-2 w-100" id="commentReply_{{comment.id}}"> 
	<form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}"> 
		{% csrf_token %}
		<textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Escreva um comentário..."></textarea>  
        <div class="d-flex justify-content-between align-items-center py-2">  
			<button type="submit" class="btn btn-dark">Enviar</button>    
			<button class="btn-default btn-white-sm" type="button" data-bs-toggle="collapse" 
				data-bs-target="#commentReply_{{comment.id}}" aria-expanded="false" aria-controls="collapsecommentreply">
				<i class="fas fa-times fa-1x"></i>
			</button>  
		</div>  
	</form> 
</div> 